* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-content: 48rem;
}

.path-div {
  margin: 1rem 0 1rem 0;
}

a {
  color: darkblue;
}

html {
  font-size: 1.2rem;
  font-family: "Geist Sans";
}

h1,
h2,
h3,
h4 {
  margin: 0 0 1rem 0;
}

h3 a {
  color: slategrey;
  text-decoration: none;
}

.note-container {
  display: flex;
  flex-direction: column; 
}

.note-container img {
  /* max-width: calc(var(--main-content) / 2); */
  max-width: calc(var(--main-content) - 2rem);
  margin-bottom: 1rem;
  margin-left: 1rem;
}

pre {
  margin: 0 0 1rem 0;
  background-color: #f8f8f8;
  border: 1px solid #e2e8f0;
  border-left: 4px solid #2b6cb0;
  color: #2d3748;
  padding: 10px 10px;
  border-radius: 3px;
  overflow-x: auto;
  white-space: pre-wrap;
}

code {
  padding: 2px 2px;
  color: #2d3748; 
  background-color: #f8f8f8;
  font-family: "Geist Mono", 'Courier New', Courier, monospace;
  border: 1px solid #e2e8f0;
  border-radius: 3px;
}

pre code {
  padding: 0;
  border: none;
  background-color: transparent;
  color: inherit;
}

p {
  line-height: 1.4;
  margin: 0 0 1rem 0;
}

.linkbar {
  margin: 1rem 0 0 0;
}

.footer {
  margin: 1rem 0 0 0;
}

.layout-root {
  display: flex;
  justify-content: center;
}

.layout-main {
  max-width: var(--main-content);
}

.note {
  margin: 1rem 0 0 0;
}

ul, ol {
    margin-left: 1rem;
    margin-bottom: 1rem;
    padding-left: 1rem; /* Add padding to align with headers */
    /* padding-bottom: 1rem; */
}

ul ul {
    margin-bottom: 0rem;
    padding-bottom: 0rem;
}

li {
    margin-bottom: .5rem;
    margin-top: .5rem;
}

@media (max-width: 600px) {
  html {
    font-size: .5rem;
  }
}

@media (max-width: 1000px) {
  .layout-main {
    max-width: calc(100vw - 4rem);
  }
}
